<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.edu.viser.pmu.chatappdiplomski">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ZahteviActivity"
            android:label="@string/zahtevi"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PorukeActivity" />
        </activity>
        <activity android:name=".activities.PrikazSvihActivity"
            android:label="@string/posalji_zahtev"
            >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.PorukeActivity" />
    </activity>
        <activity android:name=".activities.KonverzacijaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PorukeActivity" />
        </activity>
        <activity android:name=".activities.NovaPorukaActivity"
            android:label="@string/nova_poruka"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PorukeActivity" />
        </activity>
        <activity android:name=".activities.PorukeActivity"
            android:label="@string/poruke"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PrijavaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity android:name=".activities.RegistracijaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
    </application>

</manifest>